<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="miyu.kms.mapper.CredentialsMapper">

    <resultMap id="BaseResultMap" type="miyu.kms.entity.Credentials">
            <id property="creId" column="CRE_ID" jdbcType="INTEGER"/>
            <result property="creContent" column="CRE_CONTENT" jdbcType="VARCHAR"/>
            <result property="creType" column="CRE_TYPE" jdbcType="VARCHAR"/>
            <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
            <result property="updatedBy" column="UPDATED_BY" jdbcType="INTEGER"/>
            <result property="updatedTime" column="UPDATED_TIME" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="CREATED_BY" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        CRE_ID,CRE_CONTENT,CRE_TYPE,
        CREATED_TIME,UPDATED_BY,UPDATED_TIME,
        CREATED_BY
    </sql>
</mapper>
