<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} [%line] - %X{requestId} %msg %n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/miyu-kms.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./logs/miyu-kms.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %X{requestId} %msg %n</Pattern>
        </encoder>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <!--<appender-ref ref="fileAppender"/>-->
    </root>

    <!--<springProfile name="local | dev">
        <root>
            <level value="INFO"/>
            <appender-ref ref="console"/>
        </root>
    </springProfile>-->

    <!--<springProfile name="test | uat | prod">
        <root>
            <level value="INFO"/>
            <appender-ref ref="fileAppender"/>
        </root>
    </springProfile>-->
</configuration>